@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Italiana&family=Josefin+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family:'Cinzel Decorative', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #1D2671, #C33764);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
